{% extends 'boilerplate.html.twig' %}
{% htmlcompress %}
    {% block content %}
        <h3>{{ heading_1 }}</h3>
        <p>Group 21-3110-AF</p>

        <p><a href="{{ fetch_telem_action }}">Fetch and Store Telemetry Data</a></p>
        <p><a href="{{ present_telem_action }}">Show Stored Telemetry Data</a></p>
        <p><a href="{{ send_telem_action }}">See Status of Circuit Board</a></p>

        <p><a href="{{ landing_page }}">Home</a></p>
        <p><a href="{{ login_action }}">Login</a></p>
        <p><a href="{{ register_action }}">Register</a></p>
    {% endblock %}
{% endhtmlcompress %}