{% extends 'boilerplate.html.twig' %}
    {% block content %}
        <div class="homepage content">
            <h1 class="heading">{{ heading_1 }}</h1>
            <p>Group 21-3110-AF</p>
            <div class="content-wrapper homepage-wrapper">
                <div class="homepage-links">
                    <div class="homepage-link"><a href="{{ links.send_initial_messages }}">Send Test Telemetry Messages</a></div>
                    <div class="homepage-link"><a href="{{ links.present_telemetry }}">Fetch and Present Telemetry Data</a></div>
                    <div class="homepage-link"><a href="{{ links.send_telemetry }}">Update Circuit Board Status</a></div>
                    {% if isAdmin %}
                    <div class="homepage-link"><a href="{{ links.manage_users }}">Manage Registered Users</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}